{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load staticfiles %}

{% block content %}

<!-- <hr> -->

<!-- <div class="progress">
    <div class="progress-bar" style="width: {{ progress }}%">{{ player.current_step }} / 5</div>
</div> -->

<!-- <hr> -->

<div class="otdm__choices-selection">
    <h3 class="text-center">
        Reciba {{ gain | c }} <em>cada semana</em>
    </h3>

    <table class="otdm__choices-table table table-bordered table-striped" style="table-layout: fixed;">
        <thead>
        <tr class="text-center">
            <th>OPCIÓN A</th>
            <th width="75">A</th>
            <th width="75">B</th>
            <th>OPCIÓN B</th>
        </tr>
        </thead>
        <tbody class="small">
        {% for week, gain, rev_week, rev_gain in week_gain %}
        <tr>
            <td class="text-right">
                {% if gain == 1 %}
                Pago en la semana <b><span class="otdm__week">{{ week }}</span></b>
                <br> [<span class="otdm__week">{{ gain }}</span></b> pago]
                {% else %}
                Pago inicial en la semana <b><span class="otdm__week">{{ week_start }}</span></b>
                y pago final en la semana <b><span class="otdm__week">{{ week }}</span></b>
                <br> [<span class="otdm__week">{{ gain }}</span> pagos]
                {% endif %}
            </td>
            <td class="text-center otdm__choice-cell">
                <label>
                    <input type="radio" name="otdm__option_week{{forloop.counter}}"
                           class="otdm__choice-input"
                           value="A" data-week="{{ week }}" data-index="{{ forloop.counter }}">
                </label>
            </td>
            <td class="text-center otdm__choice-cell">
                <label>
                    <input type="radio" name="otdm__option_week{{forloop.counter}}"
                           class="otdm__choice-input"
                           value="B" data-week="{{ week }}" data-index="{{ forloop.counter }}">
                </label>
            </td>
            <td class="text-left">
                {% if rev_gain == 1 %}
                Pago en la semana <b><span class="otdm__week">{{ rev_week }}</span></b>
                <br> [<b><span class="otdm__week">{{ rev_gain }}</span><b> pago]
                {% else %}
                Pago inicial en la semana <b><span class="otdm__week">{{ rev_week }}</span></b>
                y pago final en la semana <b><span class="otdm__week">{{ week_end }}</span></b>
                <br> [<span class="otdm__week">{{ rev_gain }}</span> pagos]
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="otdm__waiting">
        Por favor seleccione una opción en la tabla para continuar.
    </div>
</div>

<div class="otdm__confirm-button-wrapper">
    <button class="btn btn-primary otdm__confirm-button" type="button">
        Confirmar
    </button>
</div>

<div class="otdm__player-confirmation">
    <h5>De acuerdo a sus elecciones usted prefiere:</h5>

    <p class="text-center">
        Recibir {{ gain | c }} <em>cada semana</em>, <span class="otdm__confirmation-either"></span>
    </p>

    <p class="text-center">
        <b>en lugar de</b>
    </p>

    <p class="text-center">
        Recibir {{ gain | c }} <em>cada semana</em>, <span class="otdm__confirmation-other"></span>
    </p>

    <br>

    <p class="text-center">¿Está seguro de sus elecciones?</p>

    <div class="text-center">
        <button class="btn btn-primary otdm__confirmation-yes" type="submit">Si</button>
        <button class="btn btn-light otdm__confirmation-no" type="button">No</button>
    </div>
</div>

<input class="otdm__value" type="hidden" name="{{ var_name }}">

{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'otdm/styles/choices.css' %}"/>
{% endblock %}

{% block scripts %}
<script src="{% static 'otdm/scripts/choices.js' %}"></script>
{% endblock %}
