{% extends "global/Base.html" %}
{% load staticfiles otree %}
{% load i18n %}


{# ****************************************************************************************************************** #}
{# *** STYLES *** #}
{# ****************************************************************************************************************** #}
{% block styles %}
    <link href="{% static 'bret/css/custom.css' %}" rel="stylesheet"/>
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}
    {% trans "Instrucciones" %}
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}
{% block content %}

    <div class="instructions">
        <p>
            {% blocktrans trimmed %}
            En esta tarea usted tomará varias decisiones sobre cómo desearía recibir pagos semanalmente. 
            En cada una de las filas, usted tendrá dos opciones. Cada opción describe el número de pagos que usted recibirá. 
            Los pagos serán de $30.000 cada semana. 
            Los pagos de cada opción tienen diferentes fechas de inicio y fin.            
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans trimmed %}
            Elija la opción que prefiera seleccionando “Opción A” o “Opción B”. 
            Elegir una opción significa que usted recibirá un pago de $30.000 (treinta mil pesos) en cada una de las semanas desde la semana del pago inicial y hasta la semana del pago final. 
            Al descender en las filas aumenta el número de semanas con pago en la Opción A y se reduce en la Opción B. 
            El número entre corchetes “[ ]” al final de cada opción indica el número de semanas durante las que recibirá pagos.            
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans trimmed %}
            Las fechas de inicio y fin variarán según las distintas decisiones. 
            Esto significa que podría estar recibiendo pagos desde la siguiente semana y hasta dentro de 52 semanas (1 año) a partir de hoy, incluyendo todas las semanas intermedias especificadas en cada una de las opciones.            
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans trimmed %}
            Las decisiones que tome determinarán sus pagos. Se elegirá al azar una fila y será pagada la opción que usted seleccionó esa fila.
            {% endblocktrans %}
        </p>
    </div>

     {% next_button %}
{% endblock %}