{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Torneo
{% endblock %}

{% block content %}

    <p> Esta etapa tendrá 5 rondas. En cada ronda usted hará parte de un grupo de cuatro (4) personas. Dos (2) tendrán un Contrato A y dos (2) un Contrato B. Los otros 3 miembros de su grupo irán cambiando ronda tras ronda.</p> 

    <p> En cada ronda usted tendrá 90 segundos para realizar el mayor número de tareas posibles. El pago por cada tarea completada dependerá del contrato al que fue asignado en la ronda anterior: </p>
    
    <ul>
        <li> Contrato A: recibe $2.000 por tarea correcta. </li>
        <li> Contrato B: recibe $1.000 por tarea correcta. </li>
    </ul>

    <p> Al final de cada ronda se reasignarán los Contratos A y B según el número de tareas completadas respecto a los otros miembros del grupo. </p>

    <b> Probabilidad de tener un Contrato A en la siguiente ronda: </b>
    
    <ul>
        <li> Primer puesto de los jugadores con Contrato A: 100% </li> 
        <li> Segundo puesto de los jugadores con Contrato A: 
            {% if observabilidad %}
                Repechaje.]
            {% else %}
                50%
            {% endif %}     
        </li> 
        <li> Primer puesto jugadores con Contrato B:
            {% if observabilidad %}
                Repechaje.]
            {% else %}
                50%
            {% endif %}
        </li> 
        <li> Segundo puesto jugadores con Contrato B: 0% </li> 
    </ul>

    <p> <b>Nota:</b> Si los dos participantes con el mismo contrato tienen el mismo número de tareas completas, el primer puesto del contrato se define al azar. </p>
    
    <p> En otras palabras, el “ganador” con el Contrato A y el “perdedor” del Contrato B van a mantener sus contratos. Para las otras dos personas del grupo, es posible que haya un cambio en el contrato.   
        {% if observabilidad %}
            La probabilidad de ser reasignado dependerá del número relativo de tareas realizadas, en algo que llamaremos “repechaje”.
        {% else %}    
            La probabilidad de ser reasignado erá del 50% para ambos.
        {% endif %} 
    </p>
    {% next_button %}

{% endblock %}
