{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Resultados Ronda {{ronda}}
{% endblock %}

{% block content %}
    <p> Usted completó {{palabras}} tareas. Sus ganancias en esta ronda son {{pago_ronda}} </p>
    <p> Su posición en el ranking grupal es {{posicion_grupo}} de 4. </p>

    {% if contrato_A %}
    	{% if posicion_contrato == 1 %}
        <p> Usted fue quien más tareas realizó entre las personas con Contrato A de su grupo. </p>
        {% else %}
        <p> Usted fue quien menos tareas realizó entre las personas con Contrato A de su grupo. </p>
        {% endif %} 
    {% else %}
        {% if posicion_contrato == 1 %}
        <p> Usted fue quien más tareas realizó entre las personas con Contrato B de su grupo. </p>
        {% else %}
        <p> Usted fue quien menos tareas realizó entre las personas con Contrato B de su grupo. </p>
        {% endif %} 
    {% endif %} 
    {% if ronda < 5 %}
    	<p> La probabilidad de que usted obtenga un Contrato A en la siguiente ronda, es: {{probabilidad_contrato_A}} </p>
    {% endif %} 

    {% next_button %}
{% endblock %}
