{% extends "global/Page.html" %}
{% load otree static %}
{% load user_agents %}

{% block content %}

{% if request|is_mobile or request|is_tablet %}
<h1>Lo sentimos!</h1>
La participación en este estudio NO está permitida en dispositivos móviles o tabletas.

{% else %}
<h1>Consentimiento Informado</h1>
<p>Usted ha sido invitado a participar en un estudio sobre toma de decisiones. El estudio tendrá una duración máxima de una hora. Por participar en el estudio, usted recibirá una cantidad de dinero que no depende de sus decisiones ni desempeño durante el experimento (el monto mínimo que recibirá como pago son $10.000). Además, podrá ganar dinero basado en sus decisiones y en el azar. Los fondos para este estudio provienen de la Administradora Colombiana de Pensiones - COLPENSIONES, Alianza EFI (Ministerio de Ciencia, Tecnología e Innovación) y de la Facultad de Economía de la Universidad del Rosario.</p> 
<p>Su participación en este estudio es totalmente voluntaria. Usted puede retirarse en cualquier momento. Sin embargo, si decide retirarse antes de que el experimento termine usted no recibirá ningún pago. Si decide completar el ejercicio, su pago será procesado solo si responde la encuesta final. Dicho cuestionario contiene preguntas sobre usted y sobre el estudio en el que participará. </p>
<p>Si acepta participar, se le pedirá que tome decisiones en este estudio. Las decisiones y sus pagos asociados se explicarán en las instrucciones. Usted podrá hacer cualquier pregunta sobre cómo se le pagará. Cada participante recibirá su pago en privado por medios electrónicos. Al final de esta actividad usted tendrá que diligenciar un cuestionario con sus datos personales (nombre, documento de identidad y cuenta bancaria). Su información bancaria será borrada una vez se realice su pago.</p>
<p>Toda la información que se recaude en este estudio será utilizada para fines estrictamente académicos manteniendo su anonimidad. En ningún caso su nombre o datos personales que puedan identificarlo serán compartidos, sólo utilizaremos su número telefónico para verificar que se realicen todos los pagos por su participación en la actividad.</p> 
<p>No hay riesgos previstos asociados con la participación en este experimento.</p>
<p>Si usted quiere una copia de este consentimiento informado, por favor, pregúntenos por ella y se la enviaremos por correo electrónico. 
  Si tiene otras preguntas o inquietudes, puede escribir al siguiente correo: <a href="mailto:rebel@urosario.edu.co" target="_blank">rebel@urosario.edu.co</a>  </p>

<p>Haga clic en “Acepto” si está de acuerdo en continuar y si decide no continuar con el estudio por favor cierre esta ventana y abandone esta sesión del estudio.</p> 

{% formfield player.consentimiento %}

{% next_button %} 
{% endif %}
{% endblock %}
