{% extends "global/Page.html" %}
{% load otree static %}
{% load user_agents %}

{% block content %}

{% if request|is_mobile or request|is_tablet %}
<h1>Lo sentimos!</h1>
La participación en este estudio NO está permitida en dispositivos móviles o tabletas.

{% else %}
<h1>Bienvenidos</h1>

<p>Por llegar a tiempo y completar todas las actividades, usted recibirá un pago de $10.000 pesos.  Además, podrá recibir más dinero según las decisiones que usted tome en cada actividad. </p>
<p>Usted tendrá que realizar cuatro (4) actividades. En cada actividad responderá varias preguntas que podrán determinar la cantidad de dinero que podrá ganar. No existen respuestas correctas o incorrectas, y no esperamos elecciones específicas de su parte. Simplemente elija la opción que usted prefiera. Usted es libre de tomar sus decisiones. </p>

<p> Al inicio de cada actividad encontrará las instrucciones sobre las preguntas de esa actividad. </b>. </p> 

<b> Solo una de las 4 actividades se elegirá al azar para ser pagada al final de esta sesión</b>.
Como cada actividad puede ser seleccionada usted debe darle la misma importancia a todas las decisiones, pues estas podrán afectar sus ganancias.
</p>

<p> Su participación en el experimento es anónima. Esto quiere decir que su identidad y sus ganancias no le serán reveladas a los demás participantes. Al final de la actividad le haremos unas preguntas sobre usted. La información allí recopilada también se utilizará de forma anónima, no se entregará a terceros, y sólo la utilizaremos con fines académicos. </p>

<p> Silencie su teléfono móvil y evite cualquier elemento distractor que pueda interrumpirlo en los siguientes 60 minutos. </p>

<p> En la siguiente pantalla usted encontrará las instrucciones de la primera actividad. 

<p> Si tiene alguna duda, por favor escriba <b>"Pregunta"</b> el chat de Zoom. Uno de los monitores de la sesión se comunicará con usted y hará lo posible por resolver sus preguntas individualmente.</p>
{% next_button %} 
{% endif %}
{% endblock %}
