{% extends "global/Page.html" %}
{% load otree static %}
{% load user_agents %}

{% block content %}

{% if request|is_mobile or request|is_tablet %}
<h1>Lo sentimos!</h1>
La participación en este estudio NO está permitida en dispositivos móviles o tabletas.

{% else %}
<h1>¡Bienvenida(o)!</h1>

<p>Usted tendrá que realizar cuatro (4) actividades. En cada actividad responderá varias preguntas. En cada pregunta por favor elija la opción que usted prefiera. 
En este sentido no considere que existen respuestas incorrectas ni piense que esperamos elecciones específicas de su parte. 
Usted es libre de tomar sus decisiones. </p>

<p> Las decisiones que usted tome en cada actividad podrán afectar sus ganancias.
<b> Una de las 4 actividades se elegirá al azar para ser pagada al final de esta sesión</b>.
Como cada actividad puede ser seleccionada usted debe darle la misma importancia a todas las decisiones.
</p>

<p>Por llegar a tiempo usted recibirá un pago de $10.000 pesos.</p>
    
<p> <b>Nota:</b> Si la <i>Actividad 1</i> o la <i>Actividad 3</i> son elegidas para calcular las ganancias, el pago por llegar a tiempo se dividirá en dos partes.
Las opciones para cada pregunta en estas dos actividades consisten en un <b>PRIMER pago</b> (pago pronto) y un <b>SEGUNDO pago</b> (pago tarde). 
Dependiendo de la pregunta elegida al azar recibirá $5.000 en la fecha del PRIMER pago y $5.000 en la fecha del SEGUNDO pago.</p>

<p><i> Las ganancias hacen que sus decisiones tengan consecuencias económicas, 
y sean más parecidas a las decisiones que usted toma en su vida diaria. </i>
</p> 

<p> En la siguiente pantalla usted encontrará las instrucciones de la primera actividad. 
Así mismo, <b>al inicio de cada actividad encontrará las instrucciones correspondientes</b>. </p> 

<p> Silencie su teléfono móvil y evite cualquier elemento distractor que pueda interrumpirlo en los siguientes 60 minutos. </p>

<p> Si tiene alguna duda, por favor comuníquese con el monitor de la sesión por el chat de Zoom. Uno de nosotros se comunicará con usted y hará lo posible por resolver sus preguntas individualmente.</p>

<p> Su participación en el experimento es anónima. Esto quiere decir que su identidad y sus ganancias no le serán reveladas a los demás participantes. Al final de la actividad le haremos unas preguntas sobre usted. La información allí recopilada también se utilizará de forma anónima, no se entregará a terceros, y sólo la utilizaremos con fines académicos. </p>

{% next_button %} 
{% endif %}
{% endblock %}
