{% extends "global/Base.html" %}
{% load staticfiles otree %}
{% load i18n %}


{# ****************************************************************************************************************** #}
{# *** STYLES *** #}
{# ****************************************************************************************************************** #}
{% block styles %}
    <link href="{% static 'bret/css/custom.css' %}" rel="stylesheet"/>
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}
    {% trans "Pregunta 7 a 12" %}
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}
{% block content %}

    <div class="instructions">
        {% blocktrans trimmed %}
            De la pregunta siete a la pregunta doce, se elige entre un PRIMER pago que recibirá HOY y otro SEGUNDO pago que recibirá en DIEZ SEMANAS.
            <img class="billetes" src="https://drive.google.com/uc?id=1rQdunH5jM8Ms2tRMJVjiYRXPUlZtOZG8" width="100%" />
        {% endblocktrans %} 

        </div>

     {% next_button %}
{% endblock %}