{% extends "global/Base.html" %}
{% load staticfiles otree %}
{% load i18n %}


{# ****************************************************************************************************************** #}
{# *** STYLES *** #}
{# ****************************************************************************************************************** #}
{% block styles %}
    <link href="{% static 'bret/css/custom.css' %}" rel="stylesheet"/>
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}
    {% trans "Pregunta 13 a 18" %}
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}
{% block content %}

    <div class="instructions">
        {% blocktrans trimmed %}
            De la pregunta trece a la pregunta dieciocho, se elige entre un PRIMER pago que recibirá en CINCO SEMANAS y otro SEGUNDO pago que recibirá en DIEZ SEMANAS.         
        {% endblocktrans %} 
        </div>

     {% next_button %}
{% endblock %}