{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load otree static %}
{% block title %}
Pregunta {{ pregunta }}
{% endblock %}
{% block content %}

<style>
    .otree-title {
        font-size: 50px;
    }
    
    .otree-btn {
        float: right;
    }
    
    .opcion {
        font-size: 20px;
    }
    
    td.ancho {
        width: 50px;
    }
</style>

<script>
    function clickaction(b) {
        switch (b) {
            case 1:
                {
                    document.getElementById("select-text").innerHTML =
                    "<p> Ha seleccionado la opción 1. Es decir, si esta pregunta es seleccionada para el pago, usted recibe: <br> <br>\
                Hoy $25.000 y en {{Constants.semanas}} semanas $0. Total $25.000 <br> <br>\
                ¿Está seguro de su elección? </p>";
                    break;
                }
            case 2:
                {
                    document.getElementById("select-text").innerHTML =
                    "<p> Ha seleccionado la opción 2. Es decir, si esta pregunta es seleccionada para el pago, usted recibe: <br> <br>\
                Hoy $20.000 y en {{Constants.semanas}} semanas $10.000. Total $30.000 <br> <br>\
                ¿Está seguro de su elección? </p>";
                    break;
                }
            case 3:
                {
                    document.getElementById("select-text").innerHTML =
                    "<p> Ha seleccionado la opción 3. Es decir, si esta pregunta es seleccionada para el pago, usted recibe: <br> <br>\
                Hoy $15.000 y en {{Constants.semanas}} semanas $20.000. Total $35.000 <br> <br>\
                ¿Está seguro de su elección? </p>";
                    break;
                }
            case 4:
                {
                    document.getElementById("select-text").innerHTML =
                    "<p> Ha seleccionado la opción 4. Es decir, si esta pregunta es seleccionada para el pago, usted recibe: <br> <br>\
                Hoy $10.000 y en {{Constants.semanas}} semanas $30.000. Total $40.000 <br> <br>\
                ¿Está seguro de su elección? </p>";
                    break;
                }
            case 5:
                {
                    document.getElementById("select-text").innerHTML =
                    "<p> Ha seleccionado la opción 5. Es decir, si esta pregunta es seleccionada para el pago, usted recibe: <br> <br>\
                Hoy $5.000 y en {{Constants.semanas}} semanas $40.000. Total $45.000 <br> <br>\
                ¿Está seguro de su elección? </p>";
                    break;
                }
            case 6:
                {
                    document.getElementById("select-text").innerHTML =
                    "<p> Ha seleccionado la opción 6. Es decir, si esta pregunta es seleccionada para el pago, usted recibe: <br> <br>\
                Hoy $0 y en {{Constants.semanas}} semanas $50.000. Total $50.000 <br> <br>\
                ¿Está seguro de su elección? </p>";
                    break;
                }
        }
    }
</script>

<table class="table">
    <tr>
        <td rowspan="6" class="col-sm-4 ancho"> <img style="max-width:700px;" src="{% static 'mpl/6.PNG' %}" alt=""> </td>
        <td>
             <input class="radio" data-toggle="modal" data-target="#staticBackdrop" onclick="clickaction(1)" type="radio" name="mpl_p6" value="1">        </td>
    </tr>
    <tr>
        <td>
             <input class="radio" data-toggle="modal" data-target="#staticBackdrop" onclick="clickaction(2)" type="radio" name="mpl_p6" value="2">
        </td>
    </tr>
    <tr>
        <td>
             <input class="radio" data-toggle="modal" data-target="#staticBackdrop" onclick="clickaction(3)" type="radio" name="mpl_p6" value="3">
        </td>
    </tr>
    <tr>
        <td>
             <input class="radio" data-toggle="modal" data-target="#staticBackdrop" onclick="clickaction(4)" type="radio" name="mpl_p6" value="4">
        </td>
    </tr>
    <tr>
        <td>  <input class="radio" data-toggle="modal" data-target="#staticBackdrop" onclick="clickaction(5)" type="radio" name="mpl_p6" value="5">
        </td>
    </tr>
    <tr>
        <td>
             <input class="radio" data-toggle="modal" data-target="#staticBackdrop" onclick="clickaction(2)" type="radio" name="mpl_p6" value="6">
        </td>
    </tr>
</table>


<div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Confirme su elección</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
            </div>
            <div class="modal-body">
                <p class="opcion" id="select-text"> </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"> No </button>
                <button class="btn btn-primary otree-btn"> Si </button>
            </div>
        </div>
    </div>
</div>

{% endblock %}