{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Gracias por participar
{% endblock %}

{% block content %}
<p>Ahora haga <i>clic</i> en el botón "Fomulario de pagos" para reportar la información necesaria para realizar el pago de sus ganancias.</p>
<p>Para completar el formulario será necesario el siguiente <b>código de participante</b> (Escríbalo en algún lugar para recordarlo):</p>
<h3 class="text-center text-danger mx-auto d-block w-25 border border-4">{{player.codigo}}</h3><br>
<a role="button" href="https://encuestas.urosario.edu.co/index.php/218754?lang=es"  target="_blank" class="btn btn-info mx-auto d-block w-25">Formulario de pagos</a>

{% endblock %}
