{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Gracias por participar
{% endblock %}

{% block content %}
<p>Ahora haga <i>clic</i> en el botón "Fomulario de pagos" para reportar la información necesaria para realizar el pago de sus ganancias.</p>
<p>Para completar el formulario será necesario el <b>código de participante</b> que recibió por el chat.</p>
<a role="button" href="https://encuestas.urosario.edu.co/index.php/218754?lang=es"  target="_blank" class="btn btn-info">Formulario de pagos</a>

{% endblock %}
