{% extends "global/Base.html" %}
{% load staticfiles otree %}
{% load i18n %}


{# ****************************************************************************************************************** #}
{# *** STYLES *** #}
{# ****************************************************************************************************************** #}
{% block styles %}
    <link href="{% static 'bret/css/custom.css' %}" rel="stylesheet"/>
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}
    {% trans "Instrucciones" %}
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}
{% block content %}

    <div class="instructions">
        <p>
            {% blocktrans trimmed %}
            En esta tarea usted debe elegir en cada fila de  entre dos opciones: Opción A y Opción B. Usted hace su decisión haciendo clic en la casilla que corresponda a la opción de su preferencia. Usted puede escoger en algunas filas la opción A y para otras filas la opción B. 
            {% endblocktrans %}
        </p>

    </div>

     {% next_button %}
{% endblock %}
