{% extends "global/Base.html" %}
{% load staticfiles otree %}
{% load i18n %}


{# ****************************************************************************************************************** #}
{# *** STYLES *** #}
{# ****************************************************************************************************************** #}
{% block styles %}
    <link href="{% static 'bret/css/custom.css' %}" rel="stylesheet"/>
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}
    {% trans "Instrucciones" %}
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}
{% block content %}

    <div class="instructions">
        <p>
            {% blocktrans trimmed %}
            En esta tarea usted tomará veinte (20) decisiones, donde tiene que elegir entre la Opción A y la Opción B. Al final del juego solo una de estas decisiones será elegida, así que debe darle la misma importancia a todas las decisiones.  
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans trimmed %}
            Cada opción hace referencia a 10 pelotas, usted encontrará pelotas AMARILLAS y BLANCAS. La cantidad de pelotas AMARILLAS y BLANCAS varían según la pregunta. Cada pelota tiene el valor del pago que podría recibir de ser elegida esa decisión y esa pelota. Es importante aclarar que todas las decisiones y pelotas tienen la misma probabilidad de ser elegidas.            
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans trimmed %}
            Por ejemplo, la decisión 1 enfrenta la Opción A y B, donde cada opción tiene una (1) pelota amarilla y nueve (9) pelotas blancas. La Opción A paga $10.000 si la pelota es amarilla pero $1.000 si la pelota es blanca, mientras que la Opción B paga $20.000 si la pelota es amarilla pero $200 si la pelota es blanca. Usted debe elegir una opción (A o B) teniendo en cuenta que todas las pelotas tienen la misma probabilidad de ser escogidas con su correspondiente pago.        
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans trimmed %}
            Las siguientes decisiones que usted tomará son similares, solo que a medida de que avanza el número de pelotas amarillas aumenta hasta el punto en el que, de ser elegida esa decisión, usted obtendría el mayor pago con total seguridad.            
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans trimmed %}
            Para cada una de las decisiones usted deberá elegir entre la Opción A y la Opción B oprimiendo el botón indicado.            
            {% endblocktrans %}
        </p>

    </div>

     {% next_button %}
{% endblock %}
