{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load i18n %}


{# ****************************************************************************************************************** #}
{# *** STYLES *** #}
{# ****************************************************************************************************************** #}
{% block styles %}
    <link href="{% static 'icl/css/custom.css' %}" rel="stylesheet"/>
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}
    {% trans "Parte final" %}
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}
{% block content %}

<div class="wrapper instructions">
    <p>
        {% blocktrans trimmed with p_hi=p_hi hi=hi p_lo=p_lo lo=lo %}
            A continuación, puede elegir entre un <i>pago seguro</i> y un <i>lanzamiento de moneda</i>.<br>
            En el lanzamiento de moneda, si cae <i>cara</i> usted recibe 30.000 pesos y si cae <i>sello</i> no recibe nada (0 pesos).<br>
        {% endblocktrans %}
        {% blocktrans trimmed with n=Constants.num_choices %}
            Le vamos a presentar {{n}} situaciones diferentes. 
            El pago de <i>cara</i> y <i>sello</i> será el mismo en todos los lanzamientos de moneda pero el <i>pago seguro</i> cambiará en cada situación. 
        {% endblocktrans %}
    </p>
    <p>
        {% blocktrans trimmed with n=Constants.num_choices %}
        Al final de esta parte, una de las situaciones será elegida al azar para determinar su pago. 
        Si en esta usted eligió el <i>lanzamiento de moneda</i>, el computador hará un sorteo aleatorio para determinar su ganancia; 
        de lo contrario, el <i>pago seguro</i> determinará su ganancia. 
    </p>
    <p>
        La probabilidad de que sea elegido para recibir el pago de esta parte es del 10 % (1 de cada 10 personas). Por favor elija de acuerdo a lo que prefiera, no hay respuestas correctas o incorrectas. Si usted es elegido las ganancias de esta parte se sumarán a las ganancias del <i>Torneo</i>.
        {% endblocktrans %}
        </p>
    </div>

    {% next_button %}
{% endblock %}