{% extends "global/Base.html" %}
{% load staticfiles otree %}
{% load i18n %}


{# ****************************************************************************************************************** #}
{# *** STYLES *** #}
{# ****************************************************************************************************************** #}
{% block styles %}
    <link href="{% static 'bret/css/custom.css' %}" rel="stylesheet"/>
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}
    {% trans "Actividad 4" %}
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}
{% block content %}

    <div class="instructions">
        <p>
            {% blocktrans trimmed %}
                Usted verá en la siguiente pantalla un cuadro {{ num_rows }}x{{ num_cols }} que contiene
                {{ num_boxes }} cajas.
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans trimmed %}
            Tan pronto como inicie la tarea, dando clic en el botón "Iniciar", se recolectará al azar una caja cada segundo. 
            Por cada caja recolectada usted recibirá un pago de $1.000 y cada una de estas cajas aparecerán de color AZUL. 
            En cualquier momento usted puede ver el número de cajas recolectadas en la parte superior.
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans trimmed %}
                Detrás de UNA de las cajas se esconde una BOMBA que destruye todo lo que se recogió.
                Al inicio de la recolección usted no sabe en qué caja está oculta la bomba, sólo sabe que puede estar en cualquier caja del cuadro con igual probabilidad. 
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans trimmed %}
                Si usted recoge la caja en donde se encuentra la bomba, la bomba explotará y usted no tendrá ganancias. 
                Si usted detiene la recolección antes de recoger la bomba, usted ganará la cantidad acumulada hasta ese momento.
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans trimmed %}
                Su tarea es elegir cuándo detener el proceso de recolección de cajas. 
                Puede seleccionar el botón "Parar" en cualquier momento para detener la recolección.
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans trimmed %}
                Luego de que usted de clic en "Parar" se habilitará el botón "Mostrar" que le permitirá ver el contenido de las cajas recolectadas. 
                Un símbolo de pesos ($1.000) o un símbolo de bomba ("pierde todo") será mostrado en cada caja que haya recogido. 
                Solo hasta este momento usted sabrá dónde está la bomba.
            {% endblocktrans %}
        </p>
    </div>

     {% next_button %}
{% endblock %}