{% extends "global/Base.html" %}
{% load staticfiles otree %}
{% load i18n %}


{# ****************************************************************************************************************** #}
{# *** STYLES *** #}
{# ****************************************************************************************************************** #}
{% block styles %}
    <link href="{% static 'bret/css/custom.css' %}" rel="stylesheet"/>
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}
    {% trans "Instrucciones" %}
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}
{% block content %}

    <div class="instructions">
        <p>
            {% blocktrans trimmed %}
            Esta tarea consiste en 24 preguntas que implican la elección sobre algunos pagos a lo largo del tiempo. Esta tarea es similar a la primera tarea, la diferencia es que cada pregunta tiene 6 solo opciones.  Para cada pregunta, usted debe elegir la opción que prefiera.
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans trimmed %}
            Recuerde que sólo se le pagará la opción que se seleccione en el sorteo. Las fechas en que se hará el PRIMER y SEGUNDO pago dependerá de los resultados del sorteo.
            {% endblocktrans %}
        </p>
    </div>

     {% next_button %}
{% endblock %}